{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-lg-offset-1 col-lg-10">
    <h1>About this site</h1>
    <h2>What do passwords do?</h2>
    <p>
      If you want to delete or edit the info associated with a replay,
      you need to input the same password you used when uploading it.
    </p>
    <h2>What replays are accepted?</h2>
    <p>
      Currently, the site is only designed replays from EoSD, PCB, IN, DDC, ISC, and LoLK.
			I intend to keep updating this with each new game that comes out.
      The <a href="http://replays.gensokyo.org/">old uploader</a>
      can handle everything else.
			I'm also supporting some older games where vcz has managed to decompress the replay file, allowing us to grab a lot more information than what the old uploader or Royalflare provide.
    </p>
    <h2>What's wrong with the old uploader?</h2>
    <p>
		It's not being updated for new games, and the mods don't respond to requests to mark unmarked TAS runs.
    </p>
	</div>
</div>
{% endblock content %}
