
{% if replay.tas %}
<!--TAS-->
<img src="/static/img/conditions/TAS.png" alt="TAS"/>
{% endif %}
{% if replay.nm %}
<!--NM-->
<img src="/static/img/conditions/NM.png" alt="NM"/>
{% endif %}
{% if replay.nb %}
<!--NB-->
<img src="/static/img/conditions/NB.png" alt="NB"/>
{% endif %}
{% if replay.nf %}
<!--NF-->
<img src="/static/img/conditions/NF.png" alt="NF"/>
{% endif %}
{% if replay.nv %}
<!--NV-->
<img src="/static/img/conditions/NV.png" alt="NV"/>
{% endif %}
{% if replay.pacifist %}
<!--PACIFIST-->
<img src="/static/img/conditions/PACIFIST.png" alt="Pacifist"/>
{% endif %}
{% if replay.other_restriction %}
<!--OTHER_RESTRICTION-->
<img src="/static/img/conditions/OTHER.png" alt="Other restriction"/>
{% endif %}
{% if replay.cheese %}
<!--CHEESE-->
<img src="/static/img/conditions/CHEESE.png" alt="Unmarked Tool Assist"/>
{% endif %}
