<table class="table table-condensed table-info">
	<thead>
		<th>Tool-assisted run</th>
		<th>No misses</th>
		<th>No bombs</th>
		<th>No focus</th>
		<th>No vertical</th>
		<th>Pacifist</th>
		<th>Other restriction</th>
		<th>Unmarked tool assist</th>
	</thead>
	<tbody>
		<td><img src="/static/img/conditions/TAS.png" alt="TAS"/></td>
		<td><img src="/static/img/conditions/NM.png" alt="NM"/></td>
		<td><img src="/static/img/conditions/NB.png" alt="NB"/></td>
		<td><img src="/static/img/conditions/NF.png" alt="NF"/></td>
		<td><img src="/static/img/conditions/NV.png" alt="NV"/></td>
		<td><img src="/static/img/conditions/PACIFIST.png" alt="Pacifist"/></td>
		<td><img src="/static/img/conditions/OTHER.png" alt="Other restriction"/></td>
		<td><img src="/static/img/conditions/CHEESE.png" alt="Unmarked Tool Assist"/></td>
	</tbody>
</table>
