{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-lg-offset-1 col-lg-10">
		<h1> Contact</h1>
		<p>
			If you want to report any bugs, feature requests, or unmarked TAS runs on this site,
			feel free to send me an 
			<a href="mailto:yorgje@hellokitty.com?subject=Hello">email</a>,
			/query platonicSolid on 
			<a href="http://mibbit.com/?channel=%23kusoplay&server=irc.rizon.net">IRC</a>,
			or drop by my <a href="http://twitch.tv/yorgieporgie">stream</a>.
		</p>
	</div>
</div>

{% endblock content %}
