{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-lg-offset-3 col-lg-6">
		<h3>Delete Replay</h3>
		<form id="delete-replay" class="well form-horizontal"
													 action="{{ url_for('delete_replay', replay_id=replay.key.id()) }}" method="post" accept-charset="utf-8">
			<fieldset>
				{{ form.hidden_tag() }}
				<div class="form-group">
					<div class="col-sm-1 control-label">
						{{ form.password.label }}
					</div>
					<div class="col-sm-11">
						{{ form.password(class_='form-control') }}
						{% if form.password.errors %}
						<ul class="errors">
							{% for error in form.password.errors %}
							<li>{{ error }}</li>
							{% endfor %}
						</ul>
						{% endif %}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-11">
						<input class="btn btn-primary" type="submit" value="Confirm Deletion"/>
						<a class="btn cancel" href="{{ url_for('list_replays') }}">Cancel</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock content %}
