{% extends "base.html" %}

{% block content %}
<div class="col-md-offset-3 col-md-6 centered">
	<h3>Edit Replay</h3>
	<form id="edit-replay" class="well form-horizontal"
												action="{{ url_for('edit_replay', replay_id=replay.key.id()) }}" 
						method="post" accept-charset="utf-8">
		<fieldset>
			{{ form.hidden_tag() }}
			<input type="hidden" name="mode" value="edit" />
			{% include 'correct_fields.html' %}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="controls">
						<input class="btn btn-primary" type="submit" value="Save Changes"/>
						<a class="btn cancel" href="{{ url_for('list_replays') }}">Cancel</a>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
{% endblock content %}
