{% extends "base.html" %}

{% block content %}
<div class="col-md-offset-3 col-md-6 centered">
	<h3>Edit Replay</h3>
	<form id="edit-replay" class="well form-horizontal"
												action="{{ url_for('edit_replay', replay_id=replay.key.id()) }}" 
						method="post" accept-charset="utf-8">
		<fieldset>
			{{ form.hidden_tag() }}
			<input type="hidden" name="mode" value="edit" />
			<div class="form-group">
				<div class="col-sm-2">{{ form.player.label }}</div>
				<div class="col-sm-10">
					{{ form.player(class_='form-control') }}
					{% if form.player.errors %}
					<ul class="errors">
						{% for error in form.player.errors %}
						<li>{{ error }}</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2">{{ form.description.label }}</div>
				<div class="col-sm-10">
					{{ form.description(class_='form-control') }}
					{% if form.description.errors %}
					<ul class="errors">
						{% for error in form.description.errors %}
						<li>{{ error }}</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2">{{ form.runtype.label }}</div>
				<div class="col-sm-10">
					{{ form.runtype(class_='form-control') }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					{{ form.tas }}
					{{ form.tas.label }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					{{ form.nm }}
					{{ form.nm.label }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					{{ form.nb }}
					{{ form.nb.label }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					{{ form.nf }}
					{{ form.nf.label }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					{{ form.nv }}
					{{ form.nv.label }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					{{ form.pacifist }}
					{{ form.pacifist.label }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					{{ form.other_restriction }}
					{{ form.other_restriction.label }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2">{{ form.password.label }}</div>
				<div class="col-sm-10">
					{{ form.password(class_='form-control') }}
					{% if form.password.errors %}
					<ul class="errors">
						{% for error in form.password.errors %}
						<li>{{ error }}</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="controls">
						<input class="btn btn-primary" type="submit" value="Save Changes"/>
						<a class="btn cancel" href="{{ url_for('list_replays') }}">Cancel</a>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
{% endblock content %}
