{% extends "base.html" %}

{% block style_block %}
<style type="text/css">
table.table { width: 100%; }
</style>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-2 text-center">
		<a class="btn btn-default btn-large btn-block" data-toggle="modal" data-target="#new-replay-modal">
			<i class="icon-plus-sign icon-white"></i>
			Upload New Replay 
		</a>
	</div>
	<div class="col-sm-10">
		{% include 'conditions_key.html' %}
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<p align="left">
		Page: {{ pagelist_html|safe }}
		</p>
		<div>&nbsp;</div>
		<table class="table table-condensed" style="table-layout:fixed;">
			<thead>
				<tr>
					<th width='250px' rowspan="2" class="nowrap centered-table-cell">
						Player
						<a class="link-background-style" href="/replays/0/player/asc{{replay_filter}}">&#x25B2</a>
						<a class="link-background-style" href="/replays/0/player/dsc{{replay_filter}}">&#x25BC</a>
					</th>
					<th width='140px'>Game
						<a class="link-background-style" href="/replays/0/game/asc{{replay_filter}}">&#x25B2</a>
						<a class="link-background-style" href="/replays/0/game/dsc{{replay_filter}}">&#x25BC</a>
					</th>
					<th width="130px" class="nowrap">
						Score
						<a class="link-background-style" href="/replays/0/score/asc{{replay_filter}}">&#x25B2</a>
						<a class="link-background-style" href="/replays/0/score/dsc{{replay_filter}}">&#x25BC</a>
					</th>
					<th width='120px' class="nowrap">
						Run Type
						<a class="link-background-style" href="/replays/0/runtype/asc{{replay_filter}}">&#x25B2</a>
						<a class="link-background-style" href="/replays/0/runtype/dsc{{replay_filter}}">&#x25BC</a>
					</th>
					<th width="150px">Slow
						<a class="link-background-style" href="/replays/0/slow/asc{{replay_filter}}">&#x25B2</a>
						<a class="link-background-style" href="/replays/0/slow/dsc{{replay_filter}}">&#x25BC</a>
					</th>
					<th rowspan="2" width='135px' class="centered-table-cell">Restrictions</th>
					<th rowspan="2" class="centered-table-cell">Comments</th>
					<th rowspan="2" width='60px'>&nbsp;</th>
				</tr><tr>
					<th class="nowrap">
						Character
						<a class="link-background-style" href="/replays/0/char/asc{{replay_filter}}">&#x25B2</a>
						<a class="link-background-style" href="/replays/0/char/dsc{{replay_filter}}">&#x25BC</a>
					</th>
					<th class="nowrap">
						Difficulty
						<a class="link-background-style" href="/replays/0/rank/asc{{replay_filter}}">&#x25B2</a>
						<a class="link-background-style" href="/replays/0/rank/dsc{{replay_filter}}">&#x25BC</a>
					</th>
					<th class="nowrap">
						Stage
						<a class="link-background-style" href="/replays/0/stage/asc{{replay_filter}}">&#x25B2</a>
						<a class="link-background-style" href="/replays/0/stage/dsc{{replay_filter}}">&#x25BC</a>
					</th>
					<th class="nowrap">
						Date played
						<a class="link-background-style" href="/replays/0/playdate/asc{{replay_filter}}">&#x25B2</a>
						<a class="link-background-style" href="/replays/0/playdate/dsc{{replay_filter}}">&#x25BC</a>
					</th>
				</tr>
				<tr><th colspan="8" 
						style="border-left:none !important;
						border-right:none !important;
						border-left-width: 0px;
						border-right-width: 0px;
						background-color:#272b30 !important;
						">&nbsp;</th></tr>
				<tr>
			</thead>
			<tbody>
				{% for replay in replays %}
				{% set replay_id = replay.key %}
				<tr>
					<td rowspan="2" align="center" valign="middle" class="centered-table-cell force-wrap">
						<a href="/replay_files/{{ replay.key }}">{{ replay.player }}</a>
					</td>
					<td>{{ replay.game}} </td>
					<td>{{ replay.score }}</td>
					<td>{{ replay.runtype }}</td>
					<td>{{ replay.slow }} %</td>
					<td rowspan="2">
						{% include 'conditions_block.html' %}
					</td>
					<td rowspan="2" class="force-wrap">
						{{ replay.description }}
					</td>
					<td>
						<a href="{{ url_for('edit_replay', replay_id=replay_id) }}" >Edit</a>
					</td>
				</tr>

				<tr>
					<td>{{ replay.char }}</td>
					<td>{{ replay.rank }}</td>
					<td>{{ replay.stage }}</td>
					<td class="nowrap">{{ replay.playdate }}</td>
					<td>
						<a href="{{ url_for('delete_replay', replay_id=replay_id) }}">
							Delete
						</a>
					</td>
				</tr>
				<tr><td colspan="8" style="background-color:#272b30;"></td></tr>
				{% else %}
				<tr><td colspan="10">No replays yet!</td></tr>
				{% endfor %}
			</tbody>
		</table>

		<p align="left">
		Page: {{ pagelist_html|safe }}
		</p>
		<div>&nbsp;</div>
	</div>
</div>

{% include 'new_replay_modal.html' %} {# pull in new_replay form (modal dialog) #}

{% endblock content %}
