{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-lg-offset-3 col-lg-6">
		<h1> Upload Replay</h1>
		{% if not game %}
			{% include 'upload_form.html' %}
		{% else %}
			<form id="new-replay-form" class="well form-horizontal"
						action="{{ url_for('upload_user_input') }}" method="post" 
						accept-charset="utf-8" enctype="multipart/form-data">
				<fieldset>
					{{ form.hidden_tag() }}
					<div class="form-group">
						{{ form.replay_file }}
					</div>
					<div class="form-group">
						{{ form.game }}
					</div>
					{% include 'correct_fields.html' %}

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="controls">
								<input class="btn btn-primary" type="submit" value="Add Replay"/>
								<button class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		{% endif %}
	</div>
</div>

{% endblock content %}
