<div class="modal fade col-md-offset-3 col-md-6 centered" id="new-replay-modal">
<div class="well">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">&times;</button>
		<h3>Add a New Replay</h3>
	</div>
	<div class="modal-body">
		{% include "upload_form.html" %}
	</div>
</div>
</div>
