{% if replay_details.has_data %}
	<tr>
		<td colspan='2'>
			<table class="table table-condensed" align="center">
				<thead>
					<tr>
						<th>
							Stage:
						</th>
						{% for stage in replay_details.stages %}
						<th class='td-label'> {{ stage[0] }} </th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for i in range(replay_details.fieldnames|length) %}
						<tr>
							<td  class='nowrap'> {{ replay_details.fieldnames[i] }} </td>
							{% for stage in replay_details.stages %}
							<td class='td-label'> {{ stage[i+1] }} </td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</td>
	</tr>
{% endif %}
