{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-lg-offset-3 col-lg-6">
		<h1>Search</h1>
		<div class="well">
			<form id="search-query" class="form-horizontal"
													 action="{{ url_for('search') }}" method="post" accept-charset="utf-8">
				<fieldset>
					{{ form.hidden_tag() }}
					<input type="hidden" name="mode" value="edit" />
					<div class="form-group">
						<div class="col-sm-1 control-label">
							{{ form.player.label }} 
						</div>
						<div class="col-sm-11">
							{{ form.player(class_='form-control') }}
							{% if form.player.errors %}
							<ul class="errors">
								{% for error in form.player.errors %}
								<li>{{ error }}</li>
								{% endfor %}
							</ul>
							{% endif %}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-1 control-label">
							{{ form.game.label }} 
						</div>
						<div class="col-sm-11">
							{{ form.game(class_='form-control') }}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-1 control-label">
							{{ form.runtype.label }} 
						</div>
						<div class="col-sm-11">
							{{ form.runtype(class_='form-control') }}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-1 control-label">
							{{ form.char.label }} 
						</div>
						<div class="col-sm-11">
							{{ form.char(class_='form-control') }}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-1 control-label">
							{{ form.rank.label }} 
						</div>
						<div class="col-sm-11">
							{{ form.rank(class_='form-control') }}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-11">
							{{ form.tas }}
							{{ form.tas.label }} 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-11">
							{{ form.nm }}
							{{ form.nm.label }} 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-11">
							{{ form.nb }}
							{{ form.nb.label }} 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-11">
							{{ form.nf }}
							{{ form.nf.label }} 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-11">
							{{ form.nv }}
							{{ form.nv.label }} 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-11">
							{{ form.pacifist }}
							{{ form.pacifist.label }} 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-11">
							{{ form.other_restriction }}
							{{ form.other_restriction.label }} 
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-11">
							<div class="controls">
								<input class="btn btn-default btn-primary" type="submit" value="Search"/>
								<a class="btn btn-default cancel" href="{{ url_for('list_replays') }}">Cancel</a>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock content %}

