{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-lg-offset-1 col-lg-10">
		<h1>Todo</h1>
		<h2>Performance</h2>
		<p>
		This is more about using fewer resources than about actually making the site any better for users, but basically because of GQL restrictions I'm doing some database queries in a way that's very inefficient, and I don't really know what to do about it except hope that this site never gets too big.
		</p>

		<h2>Decompress MoF+ replays</h2>
		<p>
		For EoSD-IN, you can view various per-stage stats about replays when you view their details page, thanks to vcz's work. However, since the compression scheme changed from MoF onwards, we aren't currently able to pull anything like this from these later games. If anyone has ideas about how to reverse engineer a hopefully non-cryptographic compression scheme, please contact me.
		</p>

		<h2>Support more games</h2>
		<p>
		I'm slowly adding support for more and more games. I'm not sure if I want to support all of the Windows era games, or only the games where I'm adding some feature over what the old replay uploader provides.
		</p>

		<p>
		Please <a href="/contact">contact me</a> if you want to help with anything!
		</p>
	</div>
</div>
{% endblock content %}
