<form id="new-replay-form" class="well form-horizontal"
			action="{{ url_for('upload_replay') }}" method="post" 
			accept-charset="utf-8" enctype="multipart/form-data">
	<fieldset>
		{{ form.hidden_tag() }}
		<div class="form-group">
			<div class="col-sm-2">
				{{ form.replay_file.label }}
			</div>
			<div class="col-sm-10">
				{{ form.replay_file }}
				{% if form.replay_file.errors %}
				<ul class="errors">
					{% for error in form.replay_file.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				<p class="help-block">You will be prompted for more information after your game is detected </p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="controls">
					<input class="btn btn-primary" type="submit" value="Add Replay"/>
					<a class="btn btn-default" href="/">Cancel</a>
				</div>
			</div>
		</div>
	</fieldset>
</form>
