{% extends "base.html" %}

{% set replay_id = replay.key.id() %}

{% block style_block %}
<style type="text/css">
table.table { width: 100%; }
.td-label { text-align:right; }
</style>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-offset-2 col-sm-8">
		{% include 'conditions_key.html' %}
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<table class="table table-condensed fty-fty-cols" style="table-layout:auto; width:100%;" align="center">
			<tbody>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td class="td-label">Player:</td>
					<td class="force-wrap">{{ replay.player }}</td>
				</tr><tr>
					<td class="td-label">Game:</td>
					<td>{{ replay.game}} </td>
				</tr><tr>
					<td class="td-label">Score:</td>
					<td>{{ replay.score }}</td>
				</tr><tr>
					<td class="td-label">Difficulty:</td>
					<td>{{ replay.rank }}</td>
				</tr><tr>
					<td class="td-label">Character:</td>
					<td>{{ replay.char }}</td>
				</tr><tr>
					<td class="td-label">Runtype:</td>
					<td>{{ replay.runtype }}</td>
				</tr><tr>
					<td class="td-label">Stage:</td>
					<td>{{ replay.stage }}</td>
				</tr><tr>
					<td class="td-label">Slow:</td>
					<td>{{ replay.slow }} %</td>
				</tr>
				<tr>
					<td class="td-label">Conditions:</td>
					<td >
						{% include 'conditions_block.html' %}
					</td>
				</tr>
				{% if replay.game == 'IN' %}
					{% include 'in_bonus_data.html' %}
				{% elif replay.game in ['PCB', 'EoSD'] %}
					{% include 'pcb_bonus_data.html' %}
				{% endif %}
				<tr>
					<td class="td-label">Date Played:</td>
					<td class="nowrap">{{ replay.playdate }}</td>
				</tr><tr>
					<td class="td-label">Date Uploaded:</td>
					<td class="nowrap">{{ replay.timestamp }}</td>
				</tr><tr>
					<td class="td-label">Comments:</td>
					<td class="force-wrap">{{ replay.description }}</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td colspan='2' class="centered-table-cell">
						<p class='text-center'>
						<a href="{{ url_for('serve_replay', replay_id=replay_id, filename=replay.filename) }}">Download</a>, 
						<a href="{{ url_for('edit_replay', replay_id=replay_id) }}" >Edit</a>,
						<a href="{{ url_for('delete_replay', replay_id=replay_id) }}">
							Delete
						</a>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock content %}
