
/* Main stylesheet */

/* @section forms */
.btn.cancel { margin-left: 0.5rem; }
.nowrap { white-space: nowrap; }

td.force-wrap { 
	word-wrap:break-word;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
	/*
	font-family:monospace;
	*/
	padding-left:  5px;
	padding-right: 5px;
	padding-top:   2px;
	padding-bottom:2px;
	border:none;
}

.table-info>thead>tr>th, .table-info>tbody>tr>th, .table-info>tfoot>tr>th, .table-info>thead>tr>td, .table-info>tbody>tr>td, .table-info>tfoot>tr>td{
	text-align:center;
}

.centered-table-cell{
	display:table-cell;
	text-align:center;
	vertical-align:middle !important;
}

a:link.link-background-style, a:visited.link-background-style{
	color:#888;
	text-decoration:none;
}

a:hover.link-background-style{
	color:#ffffff;
	text-decoration:none;
}

.btn-vertically-centered{
	margin-top:0px;
	margin-bottom:0px;
	height:100%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #000000;
}

table.fty-fty-cols > tbody > tr > td{
	width: 50%;
}
