<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">Best in the West</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="/upload_static">Upload</a></li>
			<li><a href="/search">Search</a></li>
			<li>
					<a class="dropdown dropdown-toggle" data-toggle="dropdown">Etc.
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/about">About</a></li>
						<li><a href="/todo">Todo</a></li>
						<li><a target='_blank' href="https://bitbucket.org/yorgje/threplays/src">Source</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="http://stgrillz.appspot.com/">STGrillz</a></li>
			<li><a href="http://replays.gensokyo.org/">Old Uploader </a></li>
		</ul>
	</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
